/* 
PALLETE
Black: #301E29
Dark: #41393E
White: #F2EDF0
Green: #76B041
*/

/* main body */
body {
    background-color: #41393E;
    color: #F2EDF0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}
hr {
    margin-left: 8px;
    margin-right: 8px;
    opacity: 0.1;
}
#credits {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0;
    opacity: 0.5;
    margin-top: 48px;
    margin-bottom: 0;
    color: #F2EDF0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    transition-duration: 0.5s;
    
}
#credits:hover {
    cursor: pointer;
    opacity: 1;
}

/* header */
#header {
    display: grid;
    justify-content: center;
    text-align: center;
}
#logo {
    opacity: 1;
    width: 200px;
    transform-origin: center;
    animation: 0.8s fadeIn ease-out;
}
#headerTitle {
    margin-bottom: -8px;
    margin-top: -16px;
    animation: 0.5s fadeInSlideDown ease-out;
    transition-duration: 0.5s;
}

/* library */
#libraryHeader {
    display: grid;
    justify-content: center;
    text-align: center;
}
#libraryHeader > h2 {
    animation: 0.5s fadeIn ease-out;
    transition-duration: 0.5s;
}
#libraryComics {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    margin: 40px 150px 0px 150px;
}

/* comic covers in the library (classes) */
.comicElementCover {
    width: 212px;
    height: 300px;
    
    border: 1px solid #301E29;
    border-radius: 1%;
    object-fit: cover;
    animation: 1s flipAroundY ease-in-out;
    transition-duration: 0.5s;
}
.comicElementCover:hover {
    cursor: pointer;
    opacity: 0.5;
}
.comicElementTitle {
    font-size: 20px;
    text-shadow:
    -1px -1px 0 #301E29,  
    1px -1px 0 #301E29,
    -1px 1px 0 #301E29,
    1px 1px 0 #301E29;
}
.comicElementPages {
    font-weight: 400;
    margin-top: 0px;
    text-shadow:
    -1px -1px 0 #301E29,  
    1px -1px 0 #301E29,
    -1px 1px 0 #301E29,
    1px 1px 0 #301E29;
}

/* comic reader */
#comicView {
    display: grid;
    justify-content: center;
}
#comicTitle {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}
#pageNumber {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}
#imageFrameMain {
    max-height: 1200px;
    border: 1px solid #301E29;
    border-radius: 0.3%;
}

/* navigation tip */
#navigationTip {
    display: grid;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
}

/* custom files upload button*/
input[type="file"] {
    display: none;
}
#locateLibraryLabel {
    color: #301E29;
    background-color: #65913c;
    padding: 12px;
    animation: 1s fadeIn ease-out;

}
#locateLibraryLabel:hover {
    cursor: pointer;
    color: #301E29;
    background-color: #F2EDF0;
    padding: 12px;
}
/* */

/* animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100%   { opacity: 1; }
  }
@keyframes fadeInSlideDown {
    0% { opacity: 0; margin-top: -28px; }
    100%   { opacity: 1; margin-top: -16px; }
}
@keyframes flipAroundY {
    0% { opacity: 0; transform: rotateY(90deg); }
    100%   { opacity: 1; transform: rotateY(0deg); }
}


/* responsive: mobile */
@media screen and (max-width: 800px) {
    /* library */
    #libraryHeader {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    #libraryHeader > h2 {
        animation: 0.5s fadeIn ease-out;
        transition-duration: 0.5s;
    }
    #libraryComics {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 1fr;
        grid-gap: 25px;
        margin: 40px 150px 0px 150px;
    }
}

/* responsive: tablet */
@media screen and (max-width: 1024px) {
    /* library */
    #libraryHeader {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    #libraryHeader > h2 {
        animation: 0.5s fadeIn ease-out;
        transition-duration: 0.5s;
    }
    #libraryComics {
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        margin: 40px 150px 0px 150px;
    }
}